#cabecera{

    border-width: 4 px;
    border-color:black;
    border-style: groove;
    background-color: violet;
    
    }
    
    #navegacion{
        width: 12%;
        border-width: 4 px;
        border-style: groove; 
        border-radius: 2%;
        float: left;
        margin: 20px;
        background-color:rgb(0, 183, 255);
    }
    
    #columna_central{
        width: 80%;
        border-width: 4 px;
        border-style: groove;
        border-radius: 2%;
        margin-left: 80px;
        margin: 20px;
        float: right;
        background-color:blueviolet;
    
    }

    footer{

        clear: both;
    border-width: 4 px;
    border-color: aqua;
    border-style: groove;
    margin: 20px;
    background-color: violet;
    
    
    }
    