*{

    margin-left: 2px;
    margin-right: 2px;
}

#cabeceras{

    border-width: 4 px;
    border-color:black;
    border-style: groove;
    width: -50px;
    margin-top: 5px;
  
    
    
 }

  
 #navegaciones{
    width: 12%;
    border-width: 4 px;
    border-style: groove; 
    border-radius: 2%;
    float: left;
    margin: 25px;
    
}

#navegaciones1{
    width: 12%;
    border-width: 4 px;
    border-style: groove; 
    border-radius: 2%;
    float: left;
    margin: 40px;
    
}

#secciones1{
    width: 70%;
    border-width: 4 px;
    border-style: groove; 
    border-radius: 2%;
    float: left;
    margin: 20px;
    margin-left: 40px;
}

#secciones2{
    width: 70%;
    border-width: 4 px;
    border-style: groove; 
    border-radius: 2%;
    float:left;
    margin: 20px;
    margin-left: 300px;
}

#secciones2R{
    width: 70%;
    border-width: 4 px;
    border-style: groove; 
    border-radius: 2%;
    float:left;
    margin: 20px;
    margin-left: 300px;
}


#pie{

    width: 70%;
    border-width: 4 px;
    border-style: groove; 
    border-radius: 2%;
    margin: 20px;
    clear: both;
    margin-right: 300px;


}

#imagenes{

    border-width: 4 px;
    border-style: groove; 
    border-radius: 2%;
    text-align: center;
    margin-left:400px;
    margin-right: 400px;
    padding: 2px;
   
}

#imgsola2{
    border-width: 4 px;
    border-style: groove; 
    border-radius: 2%;
    text-align: center;
    margin-left:0px;
    margin-right: 0px;
    padding: 2px;
   

}

#imgsola{

    text-align: center;
    margin-left: 300px;
}

#imgsola1{

    text-align: center;
    margin-left: 300px;
}


#videos{

    border-width: 4 px;
    border-style: groove; 
    border-radius: 2%;
    text-align: center;
    margin-left: 300px;
}

#asides{

    border-width: 4 px;
    border-style: groove; 
    border-radius: 2%;

}

#h1{
    width: -50px;
    border-width: 4 px;
    border-style: groove; 
    border-radius: 2%;
margin: 5px;
font-size: 15px;

}


#h1R{
 
    border-width: 4 px;
    border-style: groove; 
    border-radius: 2%;
    font-size: 15px;
    margin: 10px;
    margin-left: 300px;
    margin-right: 500px;
 
}

#h1S{
 
    border-width: 4 px;
    border-style: groove; 
    border-radius: 2%;
    font-size: 15px;
    margin: 50px;
    margin-left: 300px;
    margin-right: 500px;

 
}

#h2{
    border-width: 4 px;
    border-style: groove; 
    border-radius: 2%;
    margin-right: 500px;
    margin-left: 300px;
}

#h3{

    border-width: 4 px;
    border-style: groove; 
    border-radius: 2%;
    margin-right: 500px;
    margin-left: 300px;


}