
#cabecera{

border-width: 4 px;
border-color:black;
border-style: groove;
background-color: violet;

}

#navegacion{
    width: 12%;
    border-width: 4 px;
    border-style: groove; 
    border-radius: 2%;
    border-color: black;
    float: left;
    margin: 20px;
    background-color: rgb(198, 159, 206);
}

#columna_central{
    width: 60%;
    border-width: 4 px;
    border-style: groove; 
    border-radius: 2%;
    border-color: black;
    float: left;
    margin: 20px;
    margin-left: 60px;
    background-color:blueviolet;

}



#columna_derecha{
    width: 15%;
    border-width: 4 px;
    border-style: groove;
    border-radius: 2%;
    border-color: black;
    margin-left: 5px;
    float: right;
    margin: 20px;
    background-color: violet;
   padding: 2px;
}

#columna_derecha1{
    width: 15%;
    border-width: 4 px;
    border-style: groove;
    border-radius: 2%;
    border-color: black;
    margin-left: 5px;
    margin-right: 25px;
    float: right;
    background-color: violet;

    }

footer{

    clear: both;
border-width: 4 px;
border-color: aqua;
border-style: groove;
margin: 20px;
background-color: violet;


}

.img{

    margin-left: 300px;
    border-width: 4 px;
    border-style: groove; 
    border-radius: 2%;
    border-color: rgb(172, 15, 15);
}


