
#cabecera{

border-width: 4 px;
border-color:black;
border-style: groove;
background-color: violet;

}

#navegacion{
    width: 12%;
    border-width: 4 px;
    border-style: groove; 
    border-radius: 2%;
    float: left;
    background-color:rgb(0, 183, 255);
}

#columna_central{
    width: 60%;
    border-width: 4 px;
    border-style: groove;
    border-radius: 2%;
    margin-left: 120px;
    float: left;
    background-color:blueviolet;

}



#columna_derecha{
    width: 15%;
    border-width: 4 px;
    border-style: groove;
    border-radius: 2%;
    margin-left: 5px;
    float: right;
    background-color: violet;
   padding: 2px;
}

#columna_derecha1{
    width: 15%;
    border-width: 4 px;
    border-style: groove;
    border-radius: 2%;
    margin-left: 5px;
    float: right;
    background-color: violet;

    }

footer{

    clear: both;
border-width: 4 px;
border-color: aqua;
border-style: groove;
margin: 20px;
background-color: violet;


}


